<p-toolbar>
  <div class="p-toolbar-group-start">
    <p-button
      class="m-2"
      icon="pi pi-home"
      label="Home"
      routerLink=""
      styleClass="#FF4655"
    ></p-button>
    <p-button
      icon="pi pi-users"
      label="Agentes"
      routerLink="/agentes"
      styleClass="#FF4655"
    ></p-button>
    <!-- <p-splitButton label="Save" icon="pi pi-check" [model]="items" styleClass="p-button-warning"></p-splitButton> -->
  </div>

  <div class="p-toolbar-group-center">
    <img class="logo" src="../../assets/valorant-logo.png" />
  </div>

  <div class="p-toolbar-group-end">
    <p-button label="Sobre" icon="pi pi-info" styleClass="#FF4655"></p-button>
  </div>
</p-toolbar>
